app/meshtastic-matrix-relay/gui
app/meshtastic-matrix-relay/DEVELOPMENT.md
app/meshtastic-matrix-relay/mmrelay.iss
app/meshtastic-matrix-relay/example_plugins  
app/meshtastic-matrix-relay/LICENSE  
app/meshtastic-matrix-relay/README.md  
app/meshtastic-matrix-relay/sample_config.yaml
app/meshtastic-matrix-relay/.gitignore
app/meshtastic-matrix-relay/.git
app/meshtastic-matrix-relay/.github
app/meshtastic-matrix-relay/.pyenv
app/meshtastic-matrix-relay/.vscode
app/meshtastic-matrix-relay/meshtastic.sqlite
app/meshtastic-matrix-relay/__pycache__/
app/meshtastic-matrix-relay/plugins/__pycache__/